aiohttp[speedups]==3.8.3
discord.py[speed] @ git+https://github.com/Rapptz/discord.py@bbba8c650fcb54e9cd69b6a0f6b162fcf277f9f5#egg=discord.py
jishaku @ git+https://github.com/Gorialis/jishaku@d5ee79d01b2f95d52713cd189e72964050089d63#egg=jishaku
tomli == 2.0.1; python_version < "3.11"
uvloop==0.17.0
